<!-- Attribution:
    Author: Prof. Richard Krasso
    Source: https://github.com/buwebdev/web-340/blob/master/fms/views/footer.ejs
    Modified By: Jonathan Roland
-->
<footer class="bg-dark text-secondary">
    <br>
  <p>&copy; The Example Company 2020</p>
</footer>